.vedio-content {
  background-color: #ffffff;
  height: 90%;
  width: 75%;
  margin: 20% 10% 0 11.5%;
}
.vedio-player {
  height: 90%;
  width: 95%;
  margin: 2% 2% 2% 2%;
}
.Real-player {
  padding-top: 3%;
}
