$bright-magenta: #ee00ff;
$azure: #13b9eb;
.footer-main {
  display: flex;
  flex-direction: column;
}
.footer-sec {
  display: flex;
  flex-direction: column;
  background-image: url('../../../assest/Home/network-back_540.png');
  width: 100vw;
  height: 75vh;
}
.get-started {
  align-self: center;
  font-size: 3rem;
  margin: 15% 0 0 0;
  text-transform: capitalize;
  text-align: center;
}
.earthid-footer-desc {
  align-self: center;
  width: 40%;
  text-align: center;
}
.footer-btn_1 {
  align-self: center;
  border: none;
  width: 15%;
  height: 7%;
  text-transform: uppercase;
  background: linear-gradient(91deg, #7400b8 0%, #48bfe3 100%);
  color: white;
  margin-top: 4%;
  line-height: 1.5;
  letter-spacing: 0.36px;
  font-weight: bold;
}
.footer-content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #7400b8, #48bfe3 84%);
  color: white;
  height: 100%;
}
.newsletter-subs {
  text-align: center;
  text-transform: uppercase;
  line-height: 2.15;
  font-size: 0.9rem;
  margin-top: 5%;
  margin-right: 10%;
}
.rest-footer-info {
  display: grid;
  margin: 5% 10% 5% 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10%;
}
.content-footer-info {
  display: flex;
  flex-direction: column;
}
.logo-earthId {
  margin-top: 10%;
  width: 40%;
}
.earthid-desc {
  margin-top: 10%;
  line-height: 1.32;
  font-size: 0.9rem;
}
.info-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 5%;
}
.info-links {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  margin-top: -1%;
}
.div-social {
  display: flex;
  width: 100%;
}
.img-link-media {
  width: 100%;
}
.link-media {
  margin-right: 5%;
}
