$white: #ffffff;
$bright-magenta: #ee00ff;
$azure: #13b9eb;
.homepage {
  min-width: 700px;
  max-width: 100%;
  overflow: hidden;
  height: 7450px;
  padding: 0 0 0.5px;
  background-color: #fef9ff;
  font-family: Titillium Web;
}
.header {
  width: 100vw;
  height: 100vh;
  padding: 9px 22px 121px 44.5px;
  background-image: url('../../assest/Home/Group\ 740.png');
  background-size: cover;
  position: relative;
}
.header-overlap {
  width: 80vw;
  height: 27.5%;
  margin: -8.5% 7.5% 0 7.5%;
  border-radius: 2px;
  background-image: url('../../assest/Home/Group\ 741.png');
  background-size: 100%;
  position: absolute;
  z-index: 5;
}
.vedio-content_space {
  width: 100%;
  height: 8%;
  background-image: url('../../assest/Home/network-back_540.png');
  opacity: 0.8;
  margin-top: -10%;
}
.body-content_1 {
  display: flex;
  height: 200vh;
  width: 100%;
  flex-direction: column;
}
.body-content_1-text {
  margin: 7.5% 0 10% 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.13;
  align-self: center;
}

.body-content-1_img {
  margin-top: -25rem;
  width: 100%;
  height: 100%;
  margin-left: -1.5rem;
}
.face-scan-adobe_1 {
  width: 100vw;
  height: 100vh;
  margin: -2rem 0 0 0;
  opacity: 0.9;
  background-image: url('../../assest/Home/face_id_746.png');
  background-size: cover;
}
.body-content_1-card {
  width: 100vw;
  height: 70vh;
}
.face-scan-adobe_2 {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assest/Home/Group\ 747.png');
  background-size: cover;
}
.brand-support {
  width: 100vw;
  height: 110vh;
}
.footer {
  width: 100vw;
  height: 100vh;
}
